@charset "utf-8";


.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

nav li {
    display: inline-block;
    font-size: 14px;
    padding: 2px 5px;
}

nav ul {
    font-size: 0;
}


nav li:hover{
    color: #444;
}

.nav-form {
    width: 1100px;
    margin: 0 auto;
}

.nav-form form {
    float: right;
    border-bottom: 1px solid #444;
    padding: 5px;
}


.nav-form form input {
    border: 0;

    padding: 2px 3px;

}

nav {
    background-color: #464646;
    padding: 10px 0;
    width: 1100px;
    margin: 0 auto;
    color: #ffffff;

}


h1 img {
    width: 120px;
}

h1 {
    text-align: center;
}

.nav-border {
    border-bottom: 2px solid #333;
    padding: 5px;
    margin: 30px auto;
    width: 1100px;
}

.gnb li {
    display: inline-block;
    vertical-align: middle;
   
    text-align: center;
    width: 15%;

}

.nav-bg {
    background-color: #464646;
}
.gnb img{
    width: 40px;
}

/*
.nav-border li span{
    opacity: 1;
    border-radius: 50px;
    background-color: antiquewhite;
    position: absolute;
}
*/
.nav-form i{
    font-size:18px;
}

.nav-border li:hover img{
    opacity: 0.5;
}
.nav-btn span{
    width: 30px;
    height: 5px;
    background-color: #444;
    display: block;
    transition: 0.3s;
}
.nav-btn:hover span{
     background-color: #1d7238;
}
.nav-btn .bar2{
    margin: 5px 0;
}

.nav-btn{
    margin: 10px;

}
.on .bar1{
    transform: rotate(50deg) translate(0,15px);
}
.on .bar2{
    opacity: 0;
}
.on .bar3{
    transform: rotate(-50deg) translate(0,-15px);
}
.menu-box{
    display: block;
   border: 1px solid #333;
    background-color: #fff;
      width: 1000px;
/*    text-align: center;*/
     margin: 0 auto;
    border-top:none;
    position: absolute;
    top: 225px;
    left: 0;
    right: 0;
    text-transform: uppercase;
    display: none;
    z-index: 10000;
}

.box-title{
    background-color: #f4f4f4;
    width: 70%;
    height: 25px;
    margin-left: 20px;
    line-height: 25px;
    
}

.box-ul{
    width: 50%;
    height: 25px;
}
.box-top div {
    width:25%; 
    float:left; 
    height:250px;
    margin-top: 30px; 
}
.box-ul li {
    margin-left:20px;
}
.box-ul li a {
    font-size:13px;
    color:#666;
    line-height:25px;
}
.box-ul li a:hover{
    color: #222;
}
.box-top .box7 {
    background-color: #f4f4f4;
    padding: 15px 20px;
    float: right;
    margin: 20px;

}

.box-top .box7 p{
    font-size: 15px;
/*    text-align: center;*/
    line-height: 35px;  
    color: #666;
}
.box-top .box7 p:hover{
    color: #222;
}












/*
header{
background-color: #fff;
      position: fixed;
    z-index: 100000;
    font-size: 0;
    width: 100%;
    top: 0;
    left: 0;
}
*/

