@charset :"utf-8";

table caption{
    height: 0;
    overflow: hidden;
}
table{
    border-collapse: collapse;
    border-bottom: 1px solid #444;
    border-top: 1px solid #444;
}
table thead {
    border-bottom: 1px solid #444;
   
}
thead tr th{
    padding: 10px 0;
    text-align: left;
}

table tbody tr td{
    padding: 5px;
}
.top-bg ul li{
    display: inline-block;
    margin-right: 10px;
}
.top-bg ul i{
    padding-left: 5px;
}
.top-bg ul li:last-child{
    margin: 0;
}
.top-bg ul li:nth-child(4){
    margin: 0;
}
.top-bg ul{
    margin: 30px;
}
section{
    width: 1100px;
    margin: 100px auto 0;
}
section h1{
    text-align: center;
    font-size: 50px;
    padding: 50px 0;
}
section ul .form{
    float: right;
}
table{
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 300px;
}
table tbody tr td{
/*    transform: translateX(20%);*/
    padding: 10px;
}



